.spacer {
  flex: 1 1 auto;
}

.logo-link {
  color: white;
  text-decoration: none;
  margin-right: 20px; /* Adjust as needed */
}

.toolbar-actions button {
  margin-left: 10px; /* Adjust spacing between buttons */
  margin-right: 10px;
}

.mobile-menu-button {
  display: none; /* Hidden on larger screens */
}

/* Style for mobile menu button to align right */
.mobile-menu-button {
  margin-left: auto; /* Push to the right */
}

/* Hide desktop toolbar actions on smaller screens */
@media (max-width: 768px) {
  .toolbar-actions {
    display: none;
  }
  .mobile-menu-button {
    display: block; /* Show mobile menu button on smaller screens */
  }
}

.chat-button {
  position: relative;
}

.chat-button.mat-button-disabled {
  opacity: 0.5;
}

/* Style to maintain badge visibility even when button is disabled */
.mat-button-disabled .mat-badge-content {
  opacity: 1;
}

.mobile-badge {
  background-color: var(--accent-color);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: 8px;
}

.navbar-search {
  margin-right: 16px;
}

@media (max-width: 1024px) {
  .navbar-search {
    display: none; /* Hide search on smaller screens */
  }
}
